    <%= form_with(model: stock, local: true) do |form| %>
      <% if stock.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

          <ul>
          <% stock.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
<br/>
      <div class="field">
        <%= form.text_field :ticker, class:"form-control", placeholder: "Enter Ticker Symbol" %>
      </div>

      <div class="field">
        <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
      </div>
<br/>
      <%= submit_tag 'Add', class: "btn btn-secondary" %>
    <% end %>
<br/>

