<center><h1><strong>Stocks HomePage</strong></h1></center>
            <br/>
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
        <em>Quickly check a stock price by typing the ticker <strong>Symbol</strong></em><br/><br/>
            <%= form_tag root_path, :method => 'POST' do %>
                <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50, class: "form-control" %>
                <br/>
                <center><%= submit_tag 'Lookup', class: "btn btn-success" %></center>
            <% end %>
        </div>
    </div>

<div class="col-md-6">
    <div class="jumbotron" id="jumbo2" style="height: 34vh;">
    <em id="headerText">Company Information:</em><br/><br/>
        <% if @nothing %>
           <%= @nothing %>     
        <% elsif @output%>
            <div class="compInfo">
                <div class="stockInfo">
                    <strong><%= @symbol %></strong><br/>    
                    <%= @companyName %><br/>   
                    <%= @latestPrice %><br/>
                    <%= @changePercent %><br/>
                    <%= @primaryExchange %><br/>
                </div>
                <div class="stockImg">
                    <img class="stockLogo" src="<%= @logoUrlOutput %>"/>
                </div>
            </div>
        <% else @error %>
            <%= @error %>
        <% end %>
        </div>
    </div>
</div>