<div class="col-md-6 offset-md-3">
<div class="jumbotron">
<center><h1>Stocks HomePage</h1>
<p>Quickly check a stock price by typing the ticker Symbol.</p></center>
<br/>
<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50, class: "form-control" %>
    <br/>
    <center><%= submit_tag 'Lookup', class: "btn btn-secondary" %></center>
    </div>
<% end %>

<br/>
<h1>
<% @response = RestClient::Request.execute(
    method: :get, 
    url: "https://cloud.iexapis.com/stable/stock/aapl/quote?token=pk_90dd9d4ea08c4c30a8ee233df365eaad")
%>
    
<%= @response %>
</h1>
<% if @stock %>
    <div class="jumbotron">
        <strong><%= @stock.company_name %></strong>
        $<%= @stock.latest_price %>
    </div>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>

<% if @error %>
    <%= @error %>
<% end %>
</div>
</div>